.container
    display: flex
    flex-direction: column
    align-items: center
    padding: 24px
    gap: 24px
    background: #ffffff

.emptyFeed
    font-size: 32px
    padding-top: 24px
    font-weight: 600

.newsCardBlock
    display: flex
    align-items: center
    gap: 24px
    width: -webkit-fill-available

// .newsCardSkeleton
//     width: -webkit-fill-available